.App {
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Thasadith', sans-serif; */
  font-family: 'Bubbler One', sans-serif;
  /* font-family: 'Lacquer', sans-serif; */
  background-color: #f8f8f8;
}




/* .AboutMe_container:hover {
  background-color: #ededed;
}

.AboutMe_container:hover .about_me_photo {
  margin-right: -300px;
} */

/* .AboutMe_container:hover .about_me_description {
  flex: 1;
  visibility: visible;
  opacity: 1;
  color: black;
} */



/* .about_me_photo:hover {
  flex: 1;
} */

.about_me_description {
  flex: 1;
  opacity: 1;
}

.technologies_container {
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.technologies_container:hover .technologies_box {
  background-color: #cccccc;
}

.technologies_known, .technologies_box {
  flex: 1;
}

.technologies_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  border-radius: 25px;
  flex: 1;
  transition: background-color ease 5s;
}

.technologies_known {
  height: 500px;
  font-size: 30px;
  color: #ededed;
  padding-top: 10%;
  transition: color ease 3s;
}

.technologies_known:hover {
  color: black;
}

.projects {
  background-color: #fafafa;
  height: 500px;
  border-top: 0.5px dotted grey;
  transition: background-color ease-in 2s;
}

.projects:hover {
  background-color: #ededed;
}

.reactIcon, .html5Icon {
  width: 100px;
  height: 100px;
  transition: width ease 2s, height ease 2s;
}

.technologies_container:hover .reactIcon {
  width: 150px;
  height: 150px;
}