body {
  background-color: #1a1a1a;
}

.container {
  text-align: center;
  color: white;
  margin: 100px;
  font-family: "Bubbler One", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a a a a a"
    "z z z z z"
    "x x x x x"
    "j j j j j"
    "i i i i i"
    "b b b b b"
    "o o o o o"
    "o o o o o"
    "c c c c c"
    "d e f g p"
    "h h h h h"
    "k k k k k"
    "l l l l l"
    "m m m m m"
    "n n n n n"
    "t t t t t"
    "q q q q q";

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: auto;
    grid-template-areas:
      "a a z z z x"
      "j . b b b ."
      ". . o o o ."
      "c . . . . ."
      ". d e f g p"
      "xx xx xx xx xx xx"
      "h . . . . ."
      ". k l m n ."
      "t . . . . ."
      ". q . s . ."
      ". . r . u ."
      "w w w w w w";
  }
}

.w {
  grid-area: w;
  height: 100px;
}