.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.main_container {
  background-color: #f8f8f8;
}

@media only screen and (min-width: 600px) {
  .main_container {
    margin: 0 30px 0 30px;
  }
}

header {
  text-align: left;
  padding: 30px;
  position: absolute;
}


.welcome {
  position: absolute;
  top: 25%;
  left:20%;
  font-weight: 800;
  font-size: 60px;
  opacity: 0.9;
  transition: opacity ease-in 2s;
}

@media only screen and (min-width: 600px) {
  header {
    position: relative;
    left: 40%;
  }
  .welcome {
    top: 25%;
    left: 40%;
  }
}

.introduction_container {
  height: 300px;
}

@media only screen and (min-width: 600px) {
  .introduction_container {
    display: flex;
    height: 500px;
  }
}

.introduction_container:hover .welcome {
  opacity: 0;
  transition: opacity ease-in 1s;
}

.introduction_container:hover .left_intro_container{
  background-color: crimson;
}

.left_intro_container {
  height: 200px;
  background-color: grey;
  flex: 1;
  transition: flex linear 2s, background-color ease-in 2s;
  padding-top: 10%;
  border-radius: 25px;
}

.left_intro_text_1, .left_intro_text_2, .left_intro_text_3 {
  opacity: 0;
  padding: 10px;
}

.left_intro_container:hover {
  flex:2;
}

.introduction_container:hover .left_intro_text_1, .introduction_container:hover .left_intro_text_2, .introduction_container:hover .left_intro_text_3 {
  opacity: 1;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
  padding-top: 10px;
}

.right_intro_container {
  flex: 1;
}

.about_me_container {
  display: flex;
  height: 700px;
  background-color:#fafafa;
  transition: background-color ease-in 2s;
}

@media only screen and (min-width: 600px) {
  .about_me_container {
  display: flex;
  height: 700px;
  background-color:#fafafa;
  transition: background-color ease-in 2s;
}
}

.about_me_container:hover {
  background-color: #ededed;
}

.about_me_container:hover .about_me_photo{
  flex: 1;
}

.about_me_container:hover .about_me_description{
  flex: 1;
  visibility: visible;
  opacity: 1;
  color: black;
}

.about_me_description {
  flex: 0;
  color: white;
  font-weight: 800;
  font-size: 30px;
  margin-top: 100px;
  visibility: hidden;
  width: 100px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, color ease 5s;
}

.about_me_photo {
  background-image: url(./images/new_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  flex: 2;
  transition: flex ease 4s;
}

.about_me_photo:hover {
  flex: 1;
}

.about_me_description {
  flex: 1;
  opacity: 1;
}

.technologies_container {
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.technologies_container:hover .technologies_box{
  background-color: #cccccc;
}

.technologies_known, .technologies_box {
  flex: 1;
}

.technologies_box {
  flex: 1;
  transition: background-color ease 5s;
}

.technologies_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  border-radius: 25px;
}

.technologies_known {
  height: 500px;
  font-size: 30px;
  color: #ededed;
  padding-top: 10%;
  transition: color ease 3s;
}

.technologies_known:hover {
  color: black;
}

.projects {
  background-color: #fafafa;
  height: 500px;
  border-top: 0.5px dotted grey;
}
x
.projects:hover {
  background-color: #ededed;
  transition: background-color ease-in 2s;
}
.reactIcon, .html5Icon {
  width: 100px;
  height: 100px;
  transition: width ease 2s, height ease 2s;
}

.technologies_container:hover .reactIcon {
  width: 150px;
  height: 150px;
}